.a-container{
    margin-top: 50px;
    .buy-now{
        display: flex;
        justify-content: center;
        font-family: "Bouncy";
        margin-bottom: 100px;
        .text{
            width: 50%;
            span{
                display: block;
                text-align: left;
                font-style: normal;
                font-weight: 100;
                font-size: 30px;
                line-height: 52px;
                letter-spacing: 0.13em;
                color: #76201E;
                margin-bottom: 50px;
            }
            .button{
                padding: 20px 50px;
                font-style: normal;
                font-weight: 100;
                font-size: 26px;
                line-height: 23px;
                letter-spacing: 0.1em;
                color: #000000;
                background-color: rgba(254, 210, 6, 0.23);
                border: 4px solid #76201E;
                border-radius: 40px 70px 20px 30px;
                transform: matrix(1, 0, 0, -1, 0, 0);
                text-decoration: none;
            }
        }
        .images{
            display: flex;
            width: 50%;
        }
    }
    .whats-pizzaboy{
        h1{
            text-align: center;
            font-family: 'Bouncy';
            font-style: normal;
            font-weight: 1800;
            font-size: 62px;
            line-height: 70px;
            color: #FED206;
            -webkit-text-stroke: 3px #000000;
            margin-bottom: 100px;
        }
        .image-text, .text-image{
            display: flex;
            font-family: 'Wellfleet', cursive;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 46px;
            letter-spacing: 0.04em;
            color: #000000;
            justify-content: space-between;
            margin-bottom: 50px;
            span{
                width: 40%;
                margin: 0 60px;
            }
            .image-wrapper{
                width: 40%;
            }
        }
    }
}

@media(max-width: 1600px){
    .a-container{
        .whats-pizzaboy{
            .image-text, .text-image{
                span{
                    width: 50%;
                    margin: 0 30px;
                }
                .image-wrapper{
                    width: 40%;
                }
            }
        }
    }
}
@media(max-width: 1400px){
    .a-container{
        .whats-pizzaboy{
            .image-text, .text-image{
                font-size: 26px;
            }
        }
    }
}
@media(max-width: 1100px){
    .a-container{
        .buy-now{
            .text{
                width: 50%;
                span{
                    display: block;
                    text-align: left;
                    font-style: normal;
                    font-weight: 100;
                    font-size: 25px;
                    line-height: 52px;
                    letter-spacing: 0.13em;
                    color: #76201E;
                    margin-bottom: 50px;
                }
                .button{
                    padding: 20px 50px;
                    font-style: normal;
                    font-weight: 100;
                    font-size: 20px;
                    line-height: 23px;
                    letter-spacing: 0.1em;
                    color: #000000;
                    background-color: rgba(254, 210, 6, 0.23);
                    border: 4px solid #76201E;
                    border-radius: 40px 70px 20px 30px;
                    transform: matrix(1, 0, 0, -1, 0, 0);
                    text-decoration: none;
                }
            }
        }
        .whats-pizzaboy{
            .image-text, .text-image{
                font-size: 17.5px;
                line-height: 35px;
                span{
                    width: 45%;
                }
                .image-wrapper{
                    width: 40%;
                }
            }
        }
    }
}
@media(max-width: 866px){
    .a-container{
        .buy-now{
            .text{
                width: 50%;
                span{
                    font-size: 20px;
                    line-height: 40px;
                    letter-spacing: 0.13em;
                }
                .button{
                    padding: 20px 50px;
                    font-style: normal;
                    font-weight: 100;
                    font-size: 15px;
                    line-height: 23px;
                    letter-spacing: 0.1em;
                    color: #000000;
                    background-color: rgba(254, 210, 6, 0.23);
                    border: 4px solid #76201E;
                    border-radius: 40px 70px 20px 30px;
                    transform: matrix(1, 0, 0, -1, 0, 0);
                    text-decoration: none;
                }
            }
            .images{
                display: flex;
                width: 50%;
            }
        }
        .whats-pizzaboy{
            .image-text, .text-image{
                font-size: 17.5px;
                line-height: 35px;
                span{
                    width: 40%;
                    margin: 0;
                }
                .image-wrapper{
                    width: 55%;
                }
            }
        }
    }
}



/* MOBILE */
@media(max-width: 700px){
    .a-container{
        .buy-now{
            display: flex;
            flex-direction: column-reverse;
            .text{
                width: 100%;
            }
            .images{
                width: 100%;
            }
        }
        .whats-pizzaboy{
            h1{
                margin-bottom: 50px;
            }
            .image-text{
                flex-direction: column;
                span{
                    width: 100%;
                    margin: 0;
                }
                .image-wrapper{
                    width: 75%;
                    margin: auto;
                    margin-bottom: 15px;
                }
            }
            .text-image{
                flex-direction: column-reverse;
                span{
                    width: 100%;
                    margin: 0;
                }
                .image-wrapper{
                    width: 75%;
                    margin: auto;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

