.accordion{
    .accordion-item{
        width: 100%;
        margin-bottom: 15px;
        line-height: 15px;
        background: rgba(254, 210, 6, 0.23);
        border: 4px solid #76201E!important;
        border-radius: 40px 70px 20px 30px!important;
        padding: 0 50px;
        .accordion-button{
            padding: 25px 0;
            background-color: inherit;
            box-shadow: none;
            font-family: 'Bouncy';
            font-style: normal;
            font-weight: 900;
            font-size: 28px;
            line-height: 82px;
            letter-spacing: 0.1em;
            color: #76201E;
        }
        .accordion-body{
            padding: 10px 0;
            text-align: left;
            margin-bottom: 25px;
            font-family: 'Bouncy';
            font-style: normal;
            font-weight: 100;
            font-size: 24px;
            line-height: 82px;
            letter-spacing: 0.1em;
            color: #000000;
        }
    }
    // .toggle-button{
    //     width: 100%;
    //     position: relative;
    //     text-align: left;
    //     padding: 4px;
    //     border: none;
    //     background: transparent;
    //     outline: none;
    //     cursor: pointer;
    //     p{
    //         font-family: 'Bouncy';
    //         font-style: normal;
    //         font-weight: 900;
    //         font-size: 28px;
    //         line-height: 82px;
    //         letter-spacing: 0.1em;
    //         color: #76201E;
    //     }
    // }
    // .content{
    //     transition: height 1s ease-in-out;
    //     text-align: left;
    //     margin-bottom: 50px;
    //     font-family: 'Bouncy';
    //     font-style: normal;
    //     font-weight: 100;
    //     font-size: 24px;
    //     line-height: 82px;
    //     /* identical to box height, or 342% */

    //     letter-spacing: 0.1em;

    //     color: #000000;
    // }
}