.f-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 250px;
    background-color:#76201E;
    align-items: center;
    span{
        font-family: 'Wellfleet', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;
        color: #FED206;
    }
    .social-container {
        display: flex;
        .image-wrapper{
            margin: 0 10px;
        }
    }
}
@media(max-width: 1500px){
    .f-container{
        padding: 20px 150px;
    }
  }
@media(max-width: 1250px){
.f-container{
    padding: 20px 100px;
}
}
@media(max-width: 1000px){
    .f-container{
        padding: 20px 50px;
    }
  }
@media(max-width: 700px){
.f-container{
    padding: 20px 50px;
    display: block;
    text-align: center;
    span{
        margin-bottom: 30px;
    }
    .social-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .image-wrapper{
            margin: 0 10px;
        }
    }
}
}