html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("../public/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.home .padded-container{
  padding: 0 250px;
}
@font-face {
  font-family: 'Bouncy';
  src: url('../assets/fonts/bouncy.otf');
}
@media(max-width: 1500px){
  .home .padded-container{
    padding: 0 150px;
  }
}
@media(max-width: 1250px){
  .home .padded-container{
    padding: 0 100px;
  }
}
@media(max-width: 1000px){
  .home .padded-container{
    padding: 0 50px;
  }
}

@import "../styles/partials/about";
@import "../styles/partials/header";
@import "../styles/partials/roadmap";
@import "../styles/partials/team";
@import "../styles/partials/footer";
@import "../styles/partials/accordion";